* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: red; }

#navtop {
  width: 100%;
  height: 5vh;
  background-color: black;
  font-size: 1.8em;
  color: white; }

ul {
  margin-right: 24.5%;
  list-style: none; }

li {
  display: block;
  float: left;
  margin: 1vh;
  padding: 0; }

a:link {
  text-decoration: none;
  color: white; }

a:visited {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

#data {
  display: flex;
  justify-content: flex-end;
  margin: 2vh; }

.intro {
  display: flex;
  justify-content: center; }

.introtext {
  width: 80%;
  height: 3vh;
  background-color: grey;
  font-size: 2.8vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-indent: 1.5vh; }

.news {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding-top: 3vh;
  padding-bottom: 3vh; }

.newscontent {
  width: 30%;
  height: 30vh;
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  align-items: center; }

.newstext {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  line-height: 2em;
  width: 100%; }

.newstext p {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  color: white;
  text-align: center;
  font-size: 220%;
  padding: 3%; }

.img-to-fit {
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: hidden; }

.img-to-fit img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: auto; }

.banner {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
  margin-top: 3vh; }

.banner_banner {
  width: 100%;
  height: 10vh;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  margin-left: 22%; }

.news2 {
  display: flex;
  flex-flow: column;
  height: auto;
  border: 1px solid black; }

.box2 {
  width: 200%;
  height: auto; }

.newscontent2 {
  width: 70%;
  height: 40vh;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3vh; }

.newstext2 {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center; }

.newstext2 p {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  color: white;
  text-align: center;
  font-size: 220%;
  padding: 3%; }

.img-to-fit2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: hidden; }

.img-to-fit2 img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 200%; }

#banner4 {
  margin-bottom: 3vh; }

#banner3 {
  width: 70%;
  height: auto; }

#navbottom {
  width: 100%;
  height: 5vh;
  background-color: black;
  font-size: 1.3em;
  color: white; }

#footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2em; }

#footer_logo {
  position: relative;
  margin-left: 50%;
  margin-bottom: 2vh; }

/*# sourceMappingURL=CF-CR02-Ivan_Ziv.css.map */
